<table id="calendar">
  <tbody id="calendar-body">
    <tr id="weekdays">
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </tbody>
</table>

<div id="cal-fade-out"></div>

<div id="button-menu" class="col">
  <button id="return-today" class="btn btn-primary">Today</button>
  <div id="offset-controller">
    <i class="bi bi-caret-down-fill" onclick="calendar.changeOffset(1)"></i>
    <i class="bi bi-caret-up-fill" onclick="calendar.changeOffset(-1)"></i>
  </div>
  <button id="new-task" class="btn btn-primary" data-toggle="tooltip" data-bs-original-title="New Task"><i class="bi bi-plus-lg"></i></button>
</div>

{{> calendar-modals extensions=extensions userExtensions=userExtensions}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/js/calendar.js"></script>