<div id="header">
    <div id="icon-text">
        <a href="/"><img src="/android-chrome-192x192.png"/></a>
        <h3>{{text}}</h3>
    </div>
    <div id="header-button-menu">
        <button id="allow-push-notifications" class="btn btn-primary" onclick="allowPushNotifications()">
            <i id="notification-allowed-icon" class="bi bi-bell"></i>
        </button>
        <button id="logout" class="btn btn-primary">Logout</button>
    </div>
</div>

<script>
    var publicVapidKey;
    $(document).ready(function() {
        publicVapidKey = '{{publicVapidKey}}';
        $('#logout').click(function() {
            $.post('/logout', function(data) {
                if (data == "OK") {
                    window.location.href = '/login';
                }
            }).fail(function(err) {
                alert(err.statusText + ' Error: ' + err.responseText);
            });
        });
    });
</script>

<script src="/js/notifications.js"></script>