{{> header text="Check out your schedule"}}
{{> calendar userExtensions=extensions}}
{{> upcoming tasks=upcomingTasks}}

<!-- Extensions -->
{{#if extensions.thingTracker}}
    <h1>TRACKING: THINGS!</h1>
{{/if}}