<div class="container">
    <h2>Login</h2>
    <form action="/api/login" method="post">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div id="button-menu" style="margin-top:10px">
            <p>Don&apos;t have an account? Register <a href='/register'>here</a>.</p>
            <button type="submit" class="btn btn-primary">Log In</button>
       </div>
    </form>

    <div id="about">
        <p>DOit is a simple task management app that allows you to create, edit, and delete calendar items to track events and deadlines, without any bloat.</p>
        <img src="/images/doit.png" alt="Screenshot of DOit app">
    </div>
</div>