#new-task-modal {
    padding-right: 0px !important;
}

.modal-content {
    background-color: var(--bg);
}

#new-task-modal .close {
    border: solid 1px grey;
    border-radius:5px;
}

#new-task-modal .close:hover {
    background-color: #f0f0f0;
}

.modal .form-group {
    padding: 5px;
}

.form-control:disabled {
    opacity: 0.7;
}

#new-task-modal .row {
    align-items: center;
}

#task-repeating-options, #task-repeating-end-options {
    display: flex;
}

#task-repeating-options > *, #task-repeating-end-options > *, #task-repeating-end-number-container > * {
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 0px;
    margin-right: 10px;
    width:auto;
}

#new-task-modal .modal-footer {
    justify-content: space-between;
}

#new-group-modal > .modal-dialog{
    max-width:400px;
}

.group-color-preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px grey;
    margin-right: 5px;
}

.modal-backdrop {
    width:100%;
    height:100%;
}

.task-container {
    padding-top:30px;
}

.task {
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 3px;
}

.task:hover {
    opacity: 0.8;
}

.task > * {    
    text-overflow: ellipsis;
    margin-bottom:0px;
}

.task .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: nowrap;
}

.task-icons > * {
    margin:3px;
}

.task .task-footer > * {
    margin: 0px;
}

.past {
    opacity:0.5;
}

.past:hover {
    opacity:0.3;
}

#button-menu {
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-menu #offset-controller i {
    cursor: pointer;
    margin: 5px;
    font-size: 3rem;
    color: var(--bs-primary);
}

#button-menu #new-task i {
    font-size:2rem;
    margin-top: auto;
    margin-bottom: auto;
}

#button-menu #new-task {
    padding:0px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#button-menu button {
    height: 50px;
}

#button-menu i:hover {
    opacity: 0.8;
}

#return-today {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

#new-task {
    position: relative;
}

#upcoming-tasks {
    position: relative;
    margin-top: 30px;
    background-color : var(--sec);
    border-radius: 7px;
    padding: 15px;
}

#upcoming-task-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap:wrap;
}

.upcoming-task {
    border-radius: 7px;
    padding: 8px;
    margin:10px;
    max-height: 300px;
    max-width: 300px;
    cursor: pointer;
}

.upcoming-task:hover {
    opacity: 0.8;
}

.upcoming-task-notes {
  max-width: 150px;
}
