:root{
    --cal-font-size: 1.5rem;

    --bg-vals: 39, 38, 43;
    
    --bg: rgb(var(--bg-vals));
    --hover-bg: #4a4a4a;
    --past-day-bg: #3a3a3a;
    --past-day-hover-bg: #3f3f3f;
    --current-day-bg: #a7b477;
    --current-day-hover-bg: #b5c780;

    --fg: #f0f0f0;
}

body {
    color: var(--fg);
    padding:20px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

#about {
    margin-top: 30px;
    text-align:center;
}

#about > p {
    text-align:left;
}

#about > img {
    border: 8px solid var(--fg);
    border-radius: 30px;
    box-shadow: 0 80px 80px 30px rgba(0,0,0,0.5);
    width: 80%;
}

#calendar {
    width: 100%;
    font-size: 1rem;
    min-width: 330px;
    box-sizing: border-box;
    table-layout: fixed;
}

#calendar tr {
    overflow: auto;
}

#calendar td, #calendar th {
    border: solid 1px var(--fg);
    border-collapse: collapse;
}

.current-day {
    background-color: var(--current-day-bg);
}

.current-day:hover {
    background-color: var(--current-day-hover-bg) !important;
}

.cal-day {
    padding-left:3px;
    padding-right:3px;
}

.cal-day .task-container {
    height: 200px;
    cursor: pointer;
    padding: 3px;
    overflow: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cal-day .task-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.cal-day h4 {
    font-size: var(--cal-font-size);
    width: 100%;
    margin-bottom:0px;
    border-bottom: 1px solid var(--fg);
}

@media (hover: hover) {
    .cal-day:hover {
        background-color: var(--hover-bg);
    }
}

#calendar #weekdays {
    text-align: center;
    text-overflow: ellipsis;
}

#calendar-body tr:last-child td .task-container{
    height:100px;
}

#cal-fade-out {
    position:fixed;
    background: linear-gradient(to bottom, rgba(var(--bg-vals), 0), rgba(var(--bg-vals), 1) 50%, rgba(var(--bg-vals), 1));
    height:250px;
    width:100%;
    top: 550px;
    left:0px;
    pointer-events: none;
}

#new-task-modal {
    padding-right: 0px !important;
}

.modal-content {
    background-color: var(--bg);
}

#new-task-modal .close {
    border: solid 1px grey;
    border-radius:5px;
}

#new-task-modal .close:hover {
    background-color: #f0f0f0;
}

.modal .form-group {
    padding: 5px;
}

#new-task-modal .row {
    align-items: center;
}

#new-task-modal .modal-footer {
    justify-content: space-between;
}

#new-group-modal > .modal-dialog{
    max-width:400px;
}

.group-color-preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px grey;
    margin-right: 5px;
}

.modal-backdrop {
    width:100%;
    height:100%;
}

.task-container {
    padding-top:30px;
}

.task {
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 3px;
}

.task:hover {
    opacity: 0.8;
}

.task > * {    
    text-overflow: ellipsis;
    margin-bottom:0px;
}

.past {
    opacity:0.5;
}

.past:hover {
    opacity:0.3;
}

#button-menu {
    display: flex;
    justify-content: space-between;
}

#return-today {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

#new-task {
    position: relative;
}